<header>
  <img
    src="assets/imgs/perfilProf.jpg"
    alt="Diogo Asenjo - Foto de Perfil"
    width="400px"
    height="400px"
    loading="eager"
  />
  <h1>Diogo Asenjo</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor de Software | Java | Spring | Angular | Nodejs</p>
    <p>Santos/SP</p>
    <p>
      Trabalho como desenvolver de software, atualmente realizo automações
      utilizando Java. Busco evoluir como desenvolvedor Java e Angular.
    </p>
    <nav>
      <ul>
        <a
          href="../../../assets/pdf/CV-Diogo-Asenjo.pdf"
          target="_blank"
          class="btn btn-primary"
          >Veja meu Currículo</a
        >
      </ul>
      <ul>
        <a
          href="https://www.linkedin.com/in/diogoasenjo/"
          target="_blank"
          class="btn btn-primary"
          >Acesse meu LinkedIn</a
        >
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5513991908026&text=Olá,%20Diogo"
            target="_blank"
          >
            <p><strong> Envie uma mensagem:</strong> (13)99190-8026</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone Email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:diogoasenjo@outlook.com" target="_blank">
            <p>
              <strong> Me envie um e-mail:</strong> diogoasenjo&#64;outlook.com
            </p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
