<header>
  <img
    src="assets/imgs/perfilProf.jpg"
    alt="Diogo Asenjo - Foto de Perfil"
    width="400px"
    height="400px"
    loading="eager"
  />
  <h1>Diogo Asenjo</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor de Software | Java | Spring | Angular | Nodejs | RPA</p>
    <p>
      Sou um desenvolvendor de software com foco nas linguagens Java (Spring) no
      Back e Angular no Front.
    </p>
    <p>
      Atualmente estou em um projeto de automação de ponta a ponta, trabalhando
      desde o mapeamento, até implementação da solução.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/CV-Diogo-Asenjo.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Veja meu Currículo
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/diogoasenjo/"
            target="_blank"
            class="btn btn-secondary"
          >
            Acesse meu LinkedIn
          </a>
        </li>
        <li>
          <a
            href="https://github.com/DiogoAsenjo"
            target="_blank"
            class="btn btn-third"
          >
            Acesse meu GitHub
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5513991908026&text=Olá,%20Diogo"
            target="_blank"
          >
            <strong> Envie uma mensagem:</strong>
            <p>(13)99190-8026</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone Email"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:diogoasenjo@outlook.com" target="_blank">
            <strong> Me envie um e-mail:</strong>
            <p>diogoasenjo&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
